.container {
  flex-basis: 50%;
  max-height: 100vh;
}

.filling-list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 45%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.filling-list::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.filling-list::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.filling-list::-webkit-scrollbar-thumb {
  background-color:  var(--scrollbar-thumb-color);
}

.filling-list li:last-of-type {
  margin-bottom: 0;
}

.order-item {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.order-item > div {
  flex-grow: 1;
  max-width: unset;
}

.sum {
  margin-top: 0;
  margin-bottom: 0;
}

.container > footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.order-modal {
  text-align: center;
  padding-bottom: 120px;
}

.drag-icon {
  cursor: move;
}
