:root {
  --main-font-color: #F2F2F3;

  --scrollbar-thumb-color: #8585AD;
  --scrollbar-track-color: #2F2F37;
  --scrollbar-width: 8px;
  --scrollbar-margin-bottom: 50px;

  --status-ready-color: #00CCCC;

  --max-content-width: 1260px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

body > div:first-of-type {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: var(--max-content-width);
  height: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

:global(.form-page) {
  justify-content: center;
  align-items: center;
}

:global(.form-container) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  text-align: center;
}

:global(.form) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 480px;
}

:global(.link) {
  text-decoration: none;
}

:global(.link:hover) {
  opacity: 0.8;
}

:global(.form) :global(.input__container),
:global(.form) :global(.input) {
  width: 100%;
}
