.header {
  color: var(--main-font-color);
  background-color: hsl(240, 8%, 12%);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-content-width);
  margin: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
